@page "/TodoPage/TodosUpdate/{Id}"
@using TodoAppBlazor.Data
@inject TodoService todoService
@inject NavigationManager NavigationManager

<h2>Edit Employee</h2>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Title" class="form-control" @bind="@obj.Id" />
            </div>
            <div class="form-group">
                <label for="Title" class="control-label">Title</label>
                <input form="Title" class="form-control" @bind="@obj.Title" />
            </div>
            <div class="form-group">
                <label for="Status" class="control-label"></label>
                <select @bind="@obj.Status" class="form-control">
                    <option value="">-Select Status</option>
                    <option value="Done">Done</option>
                    <option value="UnDone">No</option>
                </select>
            </div>
            

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Updatetodo" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code { [Parameter]
            public string Id { get; set; }
            Todo obj = new Todo();
            protected override async Task OnInitializedAsync()
            {
                obj = await Task.Run(() => todoService.GetTodoAsync(Convert.ToInt32(Id)));
            }
            protected async void Updatetodo()
            {
                await todoService.UpdateTodoAsync(obj);
                NavigationManager.NavigateTo("/TodoPage/Todos");
            }
            void Cancel()
            {
                NavigationManager.NavigateTo("/TodoPage/Todos");
            } }

